{% extends "layouts/main.html" %}

{% set title = "Check your answers" %}

{% block pageTitle %}
   {{ title }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Permanent or temporary move?"
            },
            value: {
              text: "Permanent"
            },
            actions: {
              items: [
                {
                  href: "../is-this-move-permanent-or-temporary",
                  text: "Change",
                  visuallyHiddenText: "permanent or temporary move"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of move"
            },
            value: {
              text: "17 March 2026"
            },
            actions: {
              items: [
                {
                  href: "../when-did-you-move-to-your-new-address",
                  text: "Change",
                  visuallyHiddenText: "date of move"
                }
              ]
            }
          },
          {
            key: {
              text: "New address"
            },
            value: {
              html: "1 Washington Street<br />Worcester<br />WR1 1NL"
            },
            actions: {
              items: [
                {
                  href: "../address/find-your-new-address",
                  text: "Change",
                  visuallyHiddenText: "new address"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Now send your changes</h2>

      <p class="govuk-body">By submitting this change you confirm and agree that the information you are giving is correct and complete.</p>

      <p class="govuk-body">If you give false, misleading or incomplete information you may:</p>
            
      <ul class="govuk-list govuk-list--bullet">
        <li>be prosecuted</li>
        <li>need to pay a financial penalty</li>
        <li>need to pay back any money if you are paid too much</li>
        <li>have your benefit payments reduced or stopped</li>
      </ul>

      <form method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
