{% set serviceName = "Manage your benefits and State Pension" %}
{% extends "layouts/main.html" %}
{% set title = "Account home" %}

{% block pageTitle %}
   {{ title }} – Customer view
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">{{ title }}</span>
<h1 class="govuk-heading-xl">Sarah Phillips</h1>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-m">Payments</h2>
<p class="govuk-body"><a href="" class="govuk-link">Check your next payment</a></p>
<p class="govuk-body"><a href="" class="govuk-link">View your recent payments</a></p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-m">Proof of benefits</h2>

<p><a href="" class="govuk-link">Get proof of your benefits</a></p>
<p><a href="/get-a-proof-of-benefit-letter/download/download-8-MC/inbox">Your letters, messages and downloads</a>
<!--span class="moj-notification-badge">
  <span aria-hidden="true">2</span>
  <span class="govuk-visually-hidden">You have 2 unread items</span>
</span-->
</p>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-m">Personal details</h2>

<p class="govuk-body">
  <a href="personal-details.html" class="govuk-link govuk-link--no-visited-state">View your personal details</a>
</p>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    </div>
  </div>

{% endblock %}
