{% extends "layouts/main.html" %}

{% set title = "Check your answers" %}

{% block pageTitle %}
   {{ title }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Permanent or temporary move?"
            },
            value: {
              text: "Permanent"
            },
            actions: {
              items: [
                {
                  href: "../is-this-move-permanent-or-temporary",
                  text: "Change",
                  visuallyHiddenText: "permanent or temporary move"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of move"
            },
            value: {
              text: "17 March 2026"
            },
            actions: {
              items: [
                {
                  href: "../when-did-you-move-to-your-new-address",
                  text: "Change",
                  visuallyHiddenText: "date of move"
                }
              ]
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: "England"
            },
            actions: {
              items: [
                {
                  href: "../which-country-is-your-new-address-in",
                  text: "Change",
                  visuallyHiddenText: "country"
                }
              ]
            }
          },
          {
            key: {
              text: "Moved to a care home or hospital?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "../have-you-moved-into-a-care-home-or-hospital",
                  text: "Change",
                  visuallyHiddenText: "moved to a care home or hospital?"
                }
              ]
            }
          },
          {
            key: {
              text: "New address"
            },
            value: {
              html: "20 Dorchester Road<br />Bury St Edmunds<br />IP33 1LT"
            },
            actions: {
              items: [
                {
                  href: "../address/find-your-new-address",
                  text: "Change",
                  visuallyHiddenText: "new address"
                }
              ]
            }
          }
        ]
      }) }}

      

      <h2 class="govuk-heading-m">Now send your changes</h2>

      <p class="govuk-body">By submitting this change you agree that the information you have given is complete and correct.</p>

      <p class="govuk-body">If you deliberately give the wrong or incomplete information, or you do not report changes, you may:</p>
            
      <ul class="govuk-list govuk-list--bullet">
        <li>be prosecuted</li>
        <li>need to pay a financial penalty</li>
        <li>need to pay back any money you are overpaid if you are asked to</li>
      </ul>

      <form method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
