{% set showBackLink = false %}
{% extends "layouts/main.html" %}

{% set title = "We have received your change of address" %}

{% block pageTitle %}
   {{ title }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: title
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We will update your address for:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Attendance Allowance</li>
        <li>Carer's Allowance</li>
      </ul>

      <p class="govuk-body">
        Your new home address will be shown on the personal details page when it is processed. This can take up to 24 hours.
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Sign out",
          href: "/index"
        }) }}
        {{ govukButton({
          text: "Go back to account home",
          classes: "govuk-button--secondary",
          href: "/v06/customer-account/personal-details-banner"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
