{% extends "layouts/main.html" %}

{% set title = "No address found" %}

{% block pageTitle %}
   {{ title }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
      <p class="govuk-body">We could not find an address that matches <strong>{{ data['postcode'] }}</strong> and <strong>1</strong>. You can search again or enter the address manually.</p>

      <p class="govuk-body"><a href="find-your-new-address.html">Search again</a></p>
      <p class="govuk-body"><a href="../which-country-is-your-new-address-in.html">Enter address manually</a></p>

    </div>
  </div>

{% endblock %}
