{% extends "layouts/main.html" %}

{% set title = "Select your new address" %}

{% block pageTitle %}
   {{ title }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "selectAddress",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "<p> 6 addresses found for <strong>" + data['postcode'] + "</strong> and <strong>1</strong> <a href='/v05/report-a-change-once/address/find-your-new-address'> Change</a></p>"
          },
          items: [
            {
              value: "1",
              text: "1 Washington Street, Worcester, England WR1 1NL"
            },
            {
              value: "10",
              text: "10 Washington Street, Worcester, England WR1 1NL"
            },
            {
              value: "11",
              text: "11 Washington Street, Worcester, England WR1 1NL"
            },
            {
              value: "101",
              text: "101 Washington Street, Worcester, England WR1 1NL"
            },
            {
              value: "110",
              text: "110 Washington Street, Worcester, England WR1 1NL"
            },
            {
              value: "111",
              text: "111 Washington Street, Worcester, England WR1 1NL"
            },
            {
              divider: "or"
            },
            {
              value: "address-not-listed",
              text: "My address is not listed"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
