{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% set title = "Tell DWP about a change" %}

{% block pageTitle %}
   {{ title }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  <dl class="govuk-body">
    <dt>Change type:</dt>
    <dd>Change of address</dd>
    <dt>Name:</dt>
    <dd>Sarah Phillips</dd>
    <dt>National Insurance number:</dt>
    <dd>AB 12 34 56 C</dd>
    <dt>GUID:</dt>
    <dd>023c3305534381c6cc37ec4edc7da2b1cf1c50a8596beb5da3a9aa585cfb0497</dd>
    <dt>Benefits:</dt>
    <dd>Attendance Allowance</dd>
    <dt>Permanent or temporary move?</dt>
    <dd>Permanent</dd>
    <dt>Moved to a care home or hospital?</dt>
    <dd>No</dd>
    <dt>Date of move:</dt>
    <dd>17 March 2026</dd>
    <dt>New address:</dt>
    <dd>
      1 Washington Street<br />
      Worcester<br />
      WR1 1NL
    </dd>
    <dt>Declaration:</dt>
    <dd>
      <p class="govuk-body">By submitting this change you confirm and agree that the information you are giving is correct and complete.</p>

      <p class="govuk-body">If you give false, misleading or incomplete information you may:</p>
            
      <ul class="govuk-list govuk-list--bullet">
        <li>be prosecuted</li>
        <li>need to pay a financial penalty</li>
        <li>need to pay back any money if you are paid too much</li>
        <li>have your benefit payments reduced or stopped</li>
      </ul>
    </dd>
    <dt>Journey instance ID:</dt>
    <dd>cm-cms-report-a-change-change-my-address.1.123e4567-e89b-12d3-a456-426614174000</dd>
    <dt>Date and time:</dt>
    <dd>2026-03-26 13:57</dd>
  </dl>
{% endblock %}