{% extends "layouts/index-page.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Report a change once prototypes</h1>

<span class="govuk-caption-l govuk-!-margin-top-9">September 2026</span>
<h2 class="govuk-heading-l">Version six prototype</h2>

<p><a class="govuk-link" href="/v06/index.html">View version six prototype</a></p>

{% call govukDetails({
  summaryText: "Other screens"
}) %}
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="/v06/report-a-change-once/address/no-address-found.html">No address found</a>
    </li>
    <li>
      <a class="govuk-link" href="/v06/report-a-change-once/service-unavailable/purposely-unavailable.html">Service unavailable - purposely</a>
    </li>
    <li>
      <a class="govuk-link" href="/v06/report-a-change-once/service-unavailable/500-internal-server-error.html">Service unavailable - 500 internal server error</a>
    </li>
    <li>
      <a class="govuk-link" href="/v06/other/work-available-report.html">Work Available Report</a>
    </li>
  </ul>
{% endcall %}

<p class="govuk-body">This is the baseline version for the day one MVP.</p> 

<p class="govuk-body">Changes for this version are listed on the <a href="https://dwpdigital.atlassian.net/wiki/spaces/raco/pages/134372065329/Version+six">version six confluence page</a>.</p>


<span class="govuk-caption-l govuk-!-margin-top-9">July 2026</span>
<h2 class="govuk-heading-l">Version five prototype</h2>

<p><a class="govuk-link" href="/v05/index.html">View version five prototype</a></p>

{% call govukDetails({
  summaryText: "Other screens"
}) %}
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="/v05/report-a-change-once/address/no-address-found.html">No address found</a>
    </li>
    <li>
      <a class="govuk-link" href="/v05/report-a-change-once/service-unavailable/purposely-unavailable.html">Service unavailable - purposely</a>
    </li>
    <li>
      <a class="govuk-link" href="/v05/report-a-change-once/service-unavailable/500-internal-server-error.html">Service unavailable - 500 internal server error</a>
    </li>
    <li>
      <a class="govuk-link" href="/v05/other/work-available-report.html">Work Available Report</a>
    </li>
    <li>
      <a class="govuk-link" href="/v05/other/start.html">Start - interruption
      </a>
    </li>
  </ul>
{% endcall %}

<p class="govuk-body">Changes for this version are listed on the <a href="https://dwpdigital.atlassian.net/wiki/spaces/raco/pages/134310199443/Version+five">version five confluence page</a>.</p>

<span class="govuk-caption-l govuk-!-margin-top-9">May 2026</span>
<h2 class="govuk-heading-l">Version four prototype</h2>

<p><a class="govuk-link" href="/v04/index.html">View version four prototype</a></p>

<p class="govuk-body">Changes for this version are listed on the <a href="https://dwpdigital.atlassian.net/wiki/spaces/raco/pages/134308136679/Version+four">version four confluence page</a>.</p>

<span class="govuk-caption-l govuk-!-margin-top-9">January 2026</span>
<h2 class="govuk-heading-l">Version three prototypes</h2>

<p><b>Please note:</b> The questions asked in the journey are based on the data capture requirements according to the latest versions of the relevant process maps / doc nodes. These maps are based on the as-is operational instructions. This may vary from actual processes currently in use.</p>
<p>All example content shown within the screens is based on GDS standards, style guidance and similar questions in other services. These are early drafts and will be iterated based on user evidence.</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Change log
    </span>
  </summary>
  <div class="govuk-details__text">

<p class="govuk-body">In version three we have:</p>
<ol class="govuk-list govuk-list--number">
  <li>We have changed the name to ‘Tell DWP about a change’ to test a less specific name for comparison with the last round of UR (Tell DWP about a change of address / Report a change)</li>
  <li>We have iterated the start page to explain RaCO as the place to report general changes (not framed as change of address). We have also added new content to set expectations about other questions they may be asked, and added a Welsh translation link (requirement from private beta onwards)</li>
  <li>We have added an example knock out page ‘You cannot use this service’ for the radio option ‘my change is not listed’ on the change type page. This is to test whether this design helps users to understand what they can report in RaCO, and where to report other changes.</li>
  <li>We have iterated the tag labels to make the list and dependent tasks clearer. Research findings from the Nov 2025 round showed that some users thought they could complete the list in any order. We have added different tag labels like ‘cannot start yet’ based on GDS pattern to make this more explicit.</li>
  <li>We have iterated the address playback screen to make it clearer which address we are asking for. Research findings from the Nov 2025 round showed that users were confused by the design of this screen as they were unsure whether it referred to their previous or new address. We have based this iterated design on another example from Digital Channels that has tested well.</li>
  <li>We have iterated the evidence screens to:
 <ul class="govuk-list govuk-list--bullet">
  <li>create an example with screens per evidence type</li>
  <li>create an example with one combined screen for all types</li>
  <li>add realistic evidence types taken from the DWP evidence standards</li>
  <li>add reassurance text to explain what the user should do if they do not have the evidence to hand or can’t upload it online. This example content is based on other similar evidence upload services including HMRC.</li>
</ul>
  </li>
  <li>We have iterated the confirmation page to:
    <ul class="govuk-list govuk-list--bullet">
  <li>add example content about notifications such as email or SMS</li>
  <li>add example content to explain that citizens will be contacted if their claim needs to be reassessed</li>
  <li>terated the example timeframe (6-8 weeks) to test a shorter timeframe (2-4 weeks). In the Nov 2025 UR round, users felt 6-8 weeks was a long time so we want to test perceptions around something shorter. Accurate average timeframes have not been determined yet, so these are just examples.</li>
</ul>
  </li>
</ol>

  </div>
</details>

<h3 class="govuk-heading-m">Citizen prototypes</h3>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3a, journey 1
    </span>
  </summary>
  <div class="govuk-details__text">
    <p><b>Version 3a - journey 1 scenario:</b> potential entitlement change (line of business questions frontloaded):</p>
    <ul class="govuk-list govuk-list--bullet">
  <li>Person is claiming PC and AA</li>
  <li>Person is in a couple</li>
  <li>Both are moving to a care home permanently</li>
  <li>The care is not funded by the local authority</li>
  <li>The customer owns a leasehold property themselves but has not sold it</li>
</ul>
    
    <p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/v03-account-home.html">Full journey - Version 3a </a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-pension-credit-questions/pc-q1.html">Pension Credit questions</a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-attendance-allowance-questions/aa-q1.html">Attendance Allowance questions</a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-change-details/coc-q1.html">Change details</a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-upload-evidence/upload-evidence-1.html">Upload Evidence</a>
  </li>
    <li>
    <a class="govuk-link" href="/v03-review-and-submit.html">Review and Submit</a>
  </li>
   <li>
    <a class="govuk-link" href="/v03-personal-details-success.html">Personal details success notification banner</a>
  </li>
</ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3b, journey 2
    </span>
  </summary>
  <div class="govuk-details__text">
    <p><b>Version 3b - journey 2 scenario:</b> potential entitlement change (change questions frontloaded): This is as above, but leading with the change of circumstances questions first, followed by the line of business questions.</p>
    <p><b>Quick links</b></p>
    <ul class="govuk-list">
    <li>
    <a class="govuk-link" href="/v03-journey-2/account-home.html">Full journey - Version 3b </a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-journey-2/pension-credit-questions/pc-q1.html">Pension Credit questions</a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-journey-2/attendance-allowance-questions/aa-q1.html">Attendance Allowance questions</a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-journey-2/upload-evidence/upload-evidence-1.html">Upload Evidence</a>
  </li>
    <li>
    <a class="govuk-link" href="/v03-journey-2/review-and-submit.html">Review and Submit</a>
  </li>
</ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3c - No longer eligible journey (ARCHIVE)
    </span>
  </summary>
  <div class="govuk-details__text">
<p><b>Version 3c - no longer eligible scenario:</b> Citizen reports a change that will make them ineligible for the benefit. We agreed with the team 28/1/26 that we will park this as there is little difference from the other scenarios and limited value in testing at this stage.</p>  
<p>This is because:</p>
 <ul class="govuk-list govuk-list--bullet">
  <li>We cannot advise the user that they are not / may not be eligible - this must be a human decision. There are also potential F&E error implications to stating this within the service</li>
  <li>RaCo will not touch policy</li>
    </ul>
</div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3d - Save and return journey
    </span>
  </summary>
  <div class="govuk-details__text">
<p><b>Version 3d - save and return scenario:</b> Citizen needs to leave the journey to find evidence and return later (save and return feature)</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Citizen has downsized in the UK</li>
  <li>They owned and have sold their previous property. They used the proceeds to buy the new property with no mortgage, and have money left over from the sale</li>
  <li>They do not have over £10k in savings</li>
  <li>The money left over from the sale and their capital is less than £10K</li>
  <li>Evidence requirement is a completion statement used to determine capital</li>
</ul>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/v03-journey-3/account-home.html">Full journey - Version 3d</a>
  </li>
    <li>
    <a class="govuk-link" href="/v03-journey-3/pension-credit-questions/account-home-return.html">Account home - the page a user returns to after dropping off to find evidence</a>
  </li>
</ul>  
</div>
</details>

<h3 class="govuk-heading-m">Agent and appointee prototypes</h3>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3e – save and return journey for agents
    </span>
  </summary>
  <div class="govuk-details__text">
<p><b>Version 3e - save and return scenario:</b>A citizen (or appointee reporting a change on their behalf) is following the agent-led telephony journey and needs to provide evidence of this change:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Citizen has downsized in the UK</li>
  <li>They owned and have sold their previous property. They used the proceeds to buy the new property with no mortgage, and have money left over from the sale</li>
  <li>They do not have over £10k in savings</li>
  <li>The money left over from the sale and their capital is less than £10K</li>
  <li>Evidence requirement is a completion statement used to determine capital – the agent will give them options of how to provide this evidence (digital or postal)</li>
  <li>Confirmation page explains next steps for agent to read to citizen / appointee</li>
</ul>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="v03-journey-3e/account-home.html">Full journey - Version 3e</a>
  </li>
    <li>
    <a class="govuk-link" href="v03-journey-3e/pension-credit-questions/account-home-return.html">Account home - the page a user returns to after dropping off to find evidence</a>
  </li>
      <li>
    <a class="govuk-link" href="v03-journey-3e/upload-evidence/upload-evidence-1.html">Provide evidence</a>
  </li>
</ul>  
</div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3f – PDF output
    </span>
  </summary>
  <div class="govuk-details__text">
<p><b>Version 3f – PDF output for handover:</b> An agent is provided with the data (personal details information and data captured in RaCo) to process a change of address where:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Citizen has downsized in the UK</li>
  <li>They owned and have sold their previous property. They used the proceeds to buy the new property with no mortgage, and have money left over from the sale</li>
  <li>They do not have over £10k in savings</li>
  <li>The money left over from the sale and their capital is less than £10K</li>
  <li>Citizen has provided a completion statement which the agent will use to determine capital</li>
</ul>

<p><b>Note:</b>This is based on current understanding of how the RaCO data will be handed to LoB agents to process changes. The purpose of this prototype is to test whether the data captured for this scenario would be sufficient for an agent to process this type of change.</p>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/v03-journey-3f/pdf-output.html">Version 3f - PDF Output</a>
  </li>
</ul>  
</div>
</details>

<h3 class="govuk-heading-m">Other prototypes</h3>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3g – GOV.UK evidence information
    </span>
  </summary>
  <div class="govuk-details__text">
<p><b>Version 3g – GOV.UK evidence information: An example of general evidence requirements as part of a GOV.UK multipart guide.</b></p>
<ul class="govuk-list govuk-list--bullet">
  <p><b>Note:</b></p>
  <li>We do not have confirmation of whether RaCo will have standalone content on GOV.UK so this purely an example of one of page types we could explore if we did</li>
  <li>Content will be designed with the GOV.UK and GDS teams and must follow the GDS guidance and requirements to be published on the GOV.UK site.</li>
  <li>The evidence types referenced are taken from the DWP evidence standards but are not exhaustive / inclusive of all evidence requirements. These requirements are still TBC, so all content is placeholder.</li>
</ul>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/v03-journey-3g/evidence-gov-uk-start-page.html">Version 3g - RACO GOV UK page with evidence</a>
  </li>
</ul>  
</div>
</details>

<h2 class="govuk-heading-m">User Research</h2>
<p>Version three prototypes are currently going through user research </p>

<ul class="govuk-list">
  <li>
    <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/x/qAXKOx8" class="govuk-link" rel="noreferrer noopener" target="_blank">Discussion guide & testing plan (Round 3) – February 2026 (opens in new tab)</a></p>
  </li>
</ul>

<br>

<p></p>

  <div class="govuk-!-padding-4 govuk-!-margin-bottom-6" style="background-color:#ECF2F9; border-radius:5px;">
        <p>This prototype assumes the citizen has logged into Customer Account via OneLogin. Access to RaCo in this example is via the Account homepage.</p>
      </div>

  <div class="govuk-!-padding-4 govuk-!-margin-bottom-6" style="background-color:#ECF2F9; border-radius:5px;">
        <p>Some data entries like address have been hard coded for ease during testing.</p>
      </div>

<br>

<span class="govuk-caption-l">November 2025</span>
<h2 class="govuk-heading-l">Version two prototypes</h2>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Change log
    </span>
  </summary>
  <div class="govuk-details__text">

<p class="govuk-body">In version two we have:</p>
<ol class="govuk-list govuk-list--number">
  <li>We have updated questions to include <a href="https://www.gov.uk/carers-allowance/eligibility"> CA eligibility criteria e.g. full time education</a> </li>
<li>We have removed individual ‘check your answers’ per LoB</li>
<li>The review and submit page has combined ‘check your answers’ listed for both CA and AA and one joint declaration (rather than a declaration per LOB)</li>
<li>We have added a starting question ‘what do you need to change’ before task list in version 2b</li>
<li>We have renamed the task list item form ‘change of address’ to ‘change details’ </li>
<li>We have changed the service name to ‘Tell DWP about a change of address’ in version 2a and ‘Report a change once’ in version 2b to test user research.</li>
</ol>

  </div>
</details>

<h2 class="govuk-heading-m">Citizen and agent prototypes</h2>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 2a, Journey 1 
    </span>
  </summary>
  <div class="govuk-details__text">
<p>Previously called v02 journey 1. LoB specific questions first and change of address and education data capture second.</p>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="v02-account-home.html">View version 2a, Journey 1 </a>
  </li>
</ul>  
</div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 2b, Journey 2
    </span>
  </summary>
  <div class="govuk-details__text">
<p>Previously called v01 journey 2. Change of address taken first and LoB specific questions taken second.</p>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="v01-journey-2/account-home.html">View version 2a, Journey 1 </a>
  </li>
</ul>  
</div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 2c
    </span>
  </summary>
  <div class="govuk-details__text">
<p>GOV UK start page signposting the RACO service</p>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="v01-gov-uk-start-page/gov-uk-start-page.html">View version 2c</a>
  </li>
</ul>  
</div>
</details>

<h2 class="govuk-heading-m">User Research</h2>
<p>Version two prototypes build on version one and went through user research as we were able to look at more ideas to test with the participants we had. </p>

<ul class="govuk-list">
  <li>
    <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/x/cUNcNB8" class="govuk-link" rel="noreferrer noopener" target="_blank">Alpha Research Plan (opens in new tab)</a></p>
  </li>
  <li>
    <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/x/U4HfNx8" class="govuk-link" rel="noreferrer noopener" target="_blank">Summary of user research/testing findings (Round 1 Citizens) – November 2025 (opens in new tab)</a></p>
  </li>
</ul>



<br>
<span class="govuk-caption-l">October 2025</span>
<h2 class="govuk-heading-l">Version one prototype</h2>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Change log
    </span>
  </summary>
  <div class="govuk-details__text">

<p class="govuk-body">In version one we have:</p>
<ol class="govuk-list govuk-list--number">
<li>Service name used here - Tell DWP about a change of address</li>
<li>‘Change of address details’ included as a section in the task list</li>
<li>Simple COA journeys identified and used for CA and AA</li>
<li>Check your answers and declaration at the end of each LOB question section</li>
<li>COA questions asked separately from LOB questions</li>
<li>Simple upload evidence screen in place, evidence requirements TBC</li>
</ol>

<p class="govuk-body"><b>Work done prior to this includes:</b></p>
<p><b>Visualised user journey flows</b></p>
<ol class="govuk-list govuk-list--number">
<li> <a href = "https://dwpdigital.atlassian.net/wiki/x/xAinMh8"> Link to visualised user journey flows exported to confluence</a></li>
<li>Visualised user journey flows were been created to understand the path a user takes through RACO to complete a specific task, such as reporting their change of address. </li>
<li>The user flows act as blueprints, mapping out every step, decision point, and screen from entry to goal completion, helping optimise for efficiency, reduce friction, and align stakeholders on user journeys</li>
<li>These user journey flows were shared in the digital channels UCD monthly meet up call, useful contacts, insights and resources were shared from wider UCD team to support the RACO project</li>
<li>User flows have also been presented back to the wider RACO/CADE team on regular calls.</li>
</ol>

<p class="govuk-body"><b>Wireframes</b></p>
<ol class="govuk-list govuk-list--number">
<li> <a href = "https://lucid.app/lucidspark/03fa7d29-0143-4ce0-bfa2-fd617c89fb38/edit?viewport_loc=-21250%2C47018%2C27120%2C27459%2C0_0&invitationId=inv_08911e54-1f69-4eef-a5ff-fe1d40e568d9">Link to Lucid board and several iterations of the v1 wireframes</a></li>
<li>The wireframes build on the user journey flows. Process maps were used to identify simple ‘’happy path’ change of address journeys to use in the prototype </li>
<li>Wireframes have been shared at the digital channels UCD monthly meet up call and presented back to the wider RACO/CADE team on regular calls</li>
</ol>

  </div>
</details>

<h2 class="govuk-heading-m">First prototype</h2>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 1a
    </span>
  </summary>
  <div class="govuk-details__text">
<p>Previously called v01 journey 1. LoB specific questions first and change of address capture second.</p>
<p>This is the first journey created in the Heroku prototype.</p>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="v01-account-home.html">View version 1a</a>
  </li>
</ul>  
</div>
</details>

<h2 class="govuk-heading-m">User Research</h2>
<p>No research was conducted on the version 1a as it didn't cover both approaches to the journey and was a very early prototype.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
 <h2 class="govuk-heading-m"> About Report a Change Once</h2>
<p>
  Report a Change Once lets people tell DWP about a change of circumstance once.
</p>
<p>
  During alpha, we will test the change of address journey with citizens on a selection of benefits including:
</p>
  <ul class="govuk-list govuk-list--bullet">
        <li>Attendance Allowance</li>
        <li>Carers Allowance</li>
        <li>Disability Living Allowance</li>
        <li>Pension Credit</li>
      </ul>

  <p>You can find out more about the project on the <a class="govuk-link" href="https://dwpdigital.atlassian.net/wiki/spaces/raco/overview">Report a Change Once confluence page</a></p>
  </div>
</div>

{% endblock %}
